.App {
  font-family: sans-serif;
  text-align: center;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
}

.todo {
  gap: 10px;
  border: 1px solid black;
  width: 140px;
  padding: 5px;
}

.cross {
  gap: 10px;
  padding: 2px;
  margin-left: 10px;
  align-items: right;
  border: 1px solid red;
  border-radius: 20px;
  cursor: pointer;
}
